.admin-layout{

display:flex;
height:100vh;

}

.admin-sidebar{

width:220px;
background:#111;
color:white;
padding:20px;

display:flex;
flex-direction:column;
gap:10px;

}

.admin-content{

flex:1;
padding:40px;
overflow:auto;

}

.admin-tabs{

display:flex;
gap:10px;
margin-bottom:20px;

}